In [42]:
#Python is compile and interpreter,high level language,object oriented language and it is develpoed by Guido van Rossum

# How to print multiple line

In [2]:
# By using """ """ quotation we can print multiple lines and \n also

In [4]:
print("Hello World")

Hello World

In [14]:
print("""This is my 1st programming in python
I want to become data analyst""")

This is my 1st programming in python
I want to become data analyst

In [22]:
print("This is my 1st programming in python\n I want to become data analyst")

This is my 1st programming in python
 I want to become data analyst

In [24]:
print("It's going to rain today")

It's going to rain today

# Comments in python

In [29]:
# Single line comments(We use only #)

In [32]:
# For multiple lines comments we use triple(""" """) quotation in python

In [38]:
""" Welcome to my world
And today i am going to teach about python programming language
I hope you will understand in a easy way
if you have any problem then at the end ask me without any hesitation"""

' Welcome to my world\nAnd today i am going to teach about python programming language\nI hope you will understand in a easy way\nif you have any problem then at the end ask me without any hesitation'

# Variables in python

In [46]:
# Variable is a container that holds data inside it as a value.

In [54]:
a="hello"
print(a)

hello

In [56]:
# 1.Python is a case sensitive language i.e it follows upper and lower case
# 2.Make sure to not use space while creating a variable.
# 3. Varaible must not start with number or soecial symbol.

# DataTypes

In [ ]:
# Data types means that what types of data is being stored and what types of operation we perform on it.

In [59]:
# 1. Stirng(It is used by using " ")
# 2. Numeric types(int,float and complex)
# 3. Sequence Types(list , tuples and range)
# 4. Mapping type(dictionaries--->dict)
# 5. Set types((set----> Union, intersection and difference)
# 6. Boolean types(bool)
# 7. Binary types(bytes,bytearray,memoryview)

In [61]:
# Default dataType is string in python.

# How to take input from user in python

In [72]:
name=input("Enter user's name:")
print(name)

Enter user's name: Keshav

Keshav

In [74]:
age=int(input("Enter user's age:"))
print(age)

Enter user's age: 32

32

In [76]:
height=int(input("Enter user's height:"))
print(height)

Enter user's height: 5.6

ValueError: invalid literal for int() with base 10: '5.6'

In [78]:
height=float(input("Enter user's height:"))
print(height)

Enter user's height: 5.6

5.6

In [80]:
exp1=eval(input("Enter an equation:"))
print(exp1)

Enter an equation: 2+3

5

# Type-casting in Python

In [83]:
# It's conversion of one datatype to another datatype is called type-casting

In [86]:
# Two types of type-casting
# 1. Implicit------>Where python itself converts one datatype to another datatype
# 2. Explicit------>Where the user converts one datatype to another.

In [95]:
name="Keshav"
print(name,type(name))

Keshav <class 'str'>

In [97]:
a=12
b=1.2
print(a,type(a))
print(b,type(b))

12 <class 'int'>
1.2 <class 'float'>

In [99]:
c=a+b
print(c,type(c))

13.2 <class 'float'>

In [107]:
b=int(b)
print(b,type(b))

1 <class 'int'>