In [1]:
# Problems related to list.

In [3]:
# A = [“Ross”, “Rachel”, “Monica”, “Joe”]

# Write a program to swap first and fourth element.

In [7]:
a = ["Ross", "Rachel", "Monica", "Joe"]
a[0],a[3]=a[3],a[0]
print(a)

['Joe', 'Rachel', 'Monica', 'Ross']

In [10]:
# Write a program to add a new value at second position.

In [12]:
a = ["Ross", "Rachel", "Monica", "Joe"]
a.insert(1,"PhonePe")
print(a)

['Ross', 'PhonePe', 'Rachel', 'Monica', 'Joe']

In [15]:
# Write a program to delete a value from 3rd position.

In [19]:
a = ["Ross", "Rachel", "Monica", "Joe"]
a.pop(2)
print(a)

['Ross', 'Rachel', 'Joe']

In [22]:
# B = [13, 7, 12, 10]

In [24]:
# Write a program to multiply all the numbers in the list.

In [42]:
B = [13, 7, 12, 10]
mul=1
for i in (B) :
    mul *= i
    print(mul)

13
91
1092
10920

In [40]:
# Write a program to get the largest number from the list.

In [44]:
B = [13, 7, 12, 10]
B.sort()
print(B)

[7, 10, 12, 13]

In [48]:
print("The largest value in the list is:",B[-1])

The largest value in the list is: 13

In [51]:
# Write a program to get the smallest number from the list.

In [53]:
B = [13, 7, 12, 10]
B.sort()
print(B)

[7, 10, 12, 13]

In [55]:
print("The smallest value in the list is:",B[0])

The smallest value in the list is: 7