# Pratices Day1

In [2]:
# 1.Write a program to display a personâ€™s name, age and address in three different lines.

In [10]:
name="Keshav"
age=21
address="Bihar"
print(name)
print(age)
print(address)

Keshav
21
Bihar

In [12]:
name="Keshav"
age=21
address="Bihar"
print(f"{name}\n{age}\n{address}")

Keshav
21
Bihar

In [14]:
# 2.Write a program to swap two variables.

In [28]:
a=21
b=51
a,b=b,a
print(a,b)

51 21

In [30]:
# 2.Write a program to swap two variables using third variable.

In [34]:
a = 21
b = 51
c = a
a = b
b = c
print(a, b)

51 21

In [36]:
# 3.Write a program to convert a float into integer.

In [38]:
a=1.5
print(int(a))

1

In [40]:
# 4.Write a program to take details from a student for ID-card and then print it in different lines.

In [56]:
name=input("Enter name:")
age=int(input("Enter age:"))
dob=input("Enter dob:")
collegeName=input("Enter College name:")
print("\n---Student ID card----" )
print("Name",name)
print("Age",age)
print("DOB",dob)
print("College Name",collegeName)

Enter name: Keshav
Enter age: 21
Enter dob: 03-01-2004
Enter College name: PIET

---Student ID card----
Name Keshav
Age 21
DOB 03-01-2004
College Name PIET

In [58]:
# 5.Write a program to take an user input as integer then convert to float.

In [82]:
a=int(input("Enter an integer value:"))
print(a,type(a))
f=float(a)
print(f,type(f))

Enter an integer value: 12

12 <class 'int'>
12.0 <class 'float'>