# Tuples in Python

In [2]:
# Tuples are the collection of ordered and un-mutable data.

# For tuples no brackets are mandatory. By choice one can use parentheses ().

# The value inside a Tuple is separated by coma(,).

# Once created, tuples cannot be changed.

# Multiple datatypes can be written inside a tuples.

In [4]:
a=("Apple","Mango","Banana",1,2,3,4,1.23)
print(a,type(a))

('Apple', 'Mango', 'Banana', 1, 2, 3, 4, 1.23) <class 'tuple'>

In [6]:
a.append("Kiwi")

AttributeError: 'tuple' object has no attribute 'append'

In [14]:
b="Ironman"
print(b,type(b))

Ironman <class 'str'>

In [16]:
b="Ironman",    # If we use comma in the last then it will be tuplwe otherwise it will be string.
print(b,type(b))

('Ironman',) <class 'tuple'>

In [19]:
# Slicing and Iteration in Tuples

In [ ]:
# Slicing

In [5]:
a="Keshav", "Piyush","Shivam","Dinesh"
print(a,type(a))

('Keshav', 'Piyush', 'Shivam', 'Dinesh') <class 'tuple'>

In [7]:
# Syntax of slicing
# sequence[start:stop:step]

In [9]:
print(a[1:2])

('Piyush',)

In [11]:
print(a[0:3])

('Keshav', 'Piyush', 'Shivam')

In [13]:
print(a[0:3:1])

('Keshav', 'Piyush', 'Shivam')

In [15]:
print(a[1::2])  # For gap value

('Piyush', 'Dinesh')

In [17]:
print(a[::-1])

('Dinesh', 'Shivam', 'Piyush', 'Keshav')

In [19]:
print(a[2::-1])

('Shivam', 'Piyush', 'Keshav')

In [22]:
# Iteration

In [24]:
# With For loop
for i in a:
    print(i)

Keshav
Piyush
Shivam
Dinesh

In [26]:
# Along with range and length in for loop

for i in range(len(a)):
    print(a[i])

Keshav
Piyush
Shivam
Dinesh

In [33]:
# Along with while loop

i=0
while i < len(a):
  print(a[i],end=" ")
  i+=1

Keshav Piyush Shivam Dinesh

# Conversion of Tuples and Tuple Function

In [38]:
a="Keshav", "Piyush","Shivam","Dinesh"
print("Before conversion ",type(a))

a=list(a)
print("After conversio",type(a))

Before conversion  <class 'tuple'>
After conversio <class 'list'>

In [40]:
# After conversion the tuple into List , we can do all the operation such as:- remove,delete,pop etc.

In [56]:
a.append("Mohit")
print(a,type(a))

['Keshav', 'Piyush', 'Shivam', 'Dinesh', 'Hritik', 'Hritik', 'Hritik', 'Hritik', 'Hritik', 'Hritik', 'Mohit'] <class 'list'>

In [61]:
# Now converting into tuples

In [63]:
a=tuple(a)
print(a,type(a))

('Keshav', 'Piyush', 'Shivam', 'Dinesh', 'Hritik', 'Hritik', 'Hritik', 'Hritik', 'Hritik', 'Hritik', 'Mohit') <class 'tuple'>

In [65]:
a.count("Hritik")

6